.box {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    background-color: khaki ;
}

.navigation {
    background-color: blanchedalmond;
}

.navigationItems {
}

.icon {
    height: 30px;
    align-self: center;
}

.searchBar{
    background-color: royalblue;
}

.searchbarButtons {

}

.searchbarInput{

}

.propertyType {
    background-color: aquamarine;
}

.propertyTypeTitle {

}

.propertyItems {

}

.propertyItem {
    height: 100px;
    width: 15%;
    background-color: #dfdfdf
}

