.container {
}

.navigation {

}

.icon {
    height: 30px;
}

.searchBar{

}

.searchbarButton {

}

.searchbarInput{

}

.propertyType {

}

.propertyTypeTitle {

}

.propertyItem {
    height: 100px;
    width: 100px;
    background-color: #dfdfdf
}

